<div class="row">
  <div class="span6 offset3 temp-skype">
    <%= form_for(@user) do |f| %>
      <%= f.error_messages %> 

      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => "First and Last" %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
			
      <%= f.submit "Register", class: "btn btn-large btn-primary" %>
	  <%= f.hidden_field :company_id, value:params[:id] %>
			<div class='hideme'>
			<%= f.text_field :user_type %><%= f.text_field :referred_by %>
			</div>
			
    <% end %>
  </div>
</div>
