<%= provide(:title, "for #{@company.name}") %>
<div id="skype-header" class="row span6 offset3">
<h1>PalmLing for <%= @company.name %></h1>
<!--h2>Step 1 - Signup</h2-->
<p>To gain immediate phone-based access to our community of translators, please complete the information below.
</p>
</div>

<div class="row">
  <div class="span6 offset3 temp-skype">
    <%= form_for [@company, @user] do |f| %>
      <%= f.error_messages %> 

      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => "First and Last" %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, :placeholder => "xxx-xxx-xxxx" %>
			
      <%= f.submit "Sign up", class: "btn btn-large btn-success" %>			
			<div class='hideme'>
			<%= f.text_field :user_type %><%= f.text_field :referred_by %>
			</div>
			
    <% end %>
  </div>
</div>

