<%= provide(:title, "for #{@company.name}") %>
<div id="skype-header" class="row span6 offset3" style="margin-left:10px">
<h1>VerbalizeIt for <%= @company.name %></h1>
<!--h2>Step 1 - Signup</h2-->
<p>To gain immediate phone-based access to our community of translators, please complete the information below.
</p>
</div>
<div class="span6">
    <div class="container">
        <div class="span5" style="margin-left:10px">
			<div class="control-group">
			    <%= form_for [@company, @user], :html => { :class=>"form-horizontal" } do |f| %>
			      <%= f.error_messages %> 
	    		<div class="control-group">	
			      <%= f.label :name, :class=>"control-label" %>
			    </div>
		  		<div class="controls">
			  	  <%= f.text_field :name, :placeholder => "First and Last", :maxlength => 40 %>
			    </div>				
				<div class="control-group">	
			      <%= f.label :email, :class=>"control-label" %>
			    </div>
		  		<div class="controls">
			      <%= f.text_field :email, :maxlength => 40 %>
			    </div>
	    		<div class="control-group">	
			      <%= f.label :phone_number, :class=>"control-label"  %>
			    </div>
		  		<div class="controls">
			      <%= f.text_field :phone_number, :placeholder => "xxx-xxx-xxxx", :maxlength => 16 %>
			    </div>
				<div class="control-group" style="margin:10px 0px 0px 0px">	
				  <div class="controls">				
			      	<%= f.submit "Sign up", :class => "submit major", :style=>"width:100px"  %>			
				  </div>
				</div>
			    <% end %>
	  		</div>
		</div>
  	</div>
</div>

