<%= provide(:title, 'Company Show Page') %>
<div id="skype-header" class="row span6 offset3">
<!--h1>PalmLing for Skype</h1>
<h2>Step 2 - Select a Plan</h2-->
<p>Copy this URL. This email is to be used by <span class="skype-name"> <%= @company.name %> employees</span> to register. <br/><!-- Thank you for signing up for PalmLing for Skype! <br />  To get started, please select a plan that fits your needs. -->
	
	<input type=text_field value="<%= HOST_URL %>/companies/<%= @company.permalink %>/register">
	<br/><br/>
	Click <a href='<%= HOST_URL %>/companies/<%= @company.permalink %>/register'>here to go</a> to the registration page for <%= @company.name %> employees.
<!-- Click link_to 'here', new_company_user_path(@company) %> to register -->
</p>


<!-- 'http://localhost/companies/#{@company.permalink}/new' -->